.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}

.header-bg {
    background-color: rgba(0,0,0,0.85);
    transition: 0.5s;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding: 0 1rem;
    list-style-type: none;
}

.nav-menu li a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    transition: color 0.3s ease-in-out; /* Smooth transition for color */
}

.nav-menu li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.nav-menu li a:hover {
    color: #ffcc00; /* Change the text color on hover */
}

.nav-menu li a:hover::after {
    width: 100%;
    left: 0;
}
